<!DOCTYPE html>
<html>
<head>
  <title>Minority</title>
  <%= stylesheet_link_tag    "minority/application", media: "all" %>
  <%= javascript_include_tag "minority/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
