<html>
    <head>
        <title>Ręczne wpłaty na konto -> Identity</title>
    </head>
    <body>
        <h1>Ręczne wpłaty na konto -> Identity</h1>
        
        <form action="/bank_acct/import" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Send CSV">
        </form>
    </body>
</html>